.container-amarelo {
  height: 115%;
  width: 100%;
  color: #6f8eb3;
  background-color: #ffd95a;
  padding-top: 1%;
}

/*CORES, ESPAÇOS E FONTES*/
.container-amarelo .color-h2 {
  color: #3f5166;
  font-size: 20px;
}
.container-amarelo .size-h2 {
  font-size: 45px;
  font-family: "Inter", sans-serif;
}
.container-amarelo .size-p {
  font-size: 15px;
}
.container-amarelo .space-p {
  margin-bottom: 8px;
  color: #7694b7;
}

/*BENEFICIOS*/

.container-amarelo .divs-beneficios {
  width: 40%;
  height: 24%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid #7694b7;
  border-radius: 20px;
  margin-left: 4%;
  padding: 30px;
}

/*imagens dos beneficios*/

.container-amarelo .divs-beneficios .imgs-beneficios {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #fff9ee;
  width: 38vw;
  height: 12vw;
}
.container-amarelo .divs-beneficios .img-bene {
  width: 80%;
  height: 80%;
}

/*texto dos beneficios*/

.container-amarelo .divs-beneficios .txt-beneficios {
  flex-direction: column;
  margin-left: 40px;
}
.container-amarelo .divs-beneficios .txt-beneficios p {
  margin-top: 8px;
}

/*SOBRE*/

.container-amarelo .sobre {
  width: 45%;
  height: 50%;
  flex-direction: column;
  text-align: center;
  margin-top: 8%;
  margin-left: 10%;
}

/*imagens de sobre*/

.container-amarelo .sobre .imgs {
  margin-top: 8%;
}
.container-amarelo .sobre .img-link1 {
  width: 29%;
  border: 1.5px #7694b7 solid;
  border-radius: 6px;
}
.container-amarelo .sobre .img-link2 {
  width: 30%;
  height: 10%;
  border: 1.5px #7694b7 solid;
  border-radius: 6px;
}

/*IMG CELULAR*/

.container-amarelo #img-celular {
  position: absolute;
  top: 10%;
  right: 9%;
}
.container-amarelo #img-celular img {
  max-width: 350px;
  max-height: 700px;
  border-radius: 50px;]
  overflow:hidden;
}